::ng-deep .flatpickr-calendar .flatpickr-day.disabled {
  background-color: rgba(255, 0, 0, 0.6) !important;
  color: white !important;
  border-radius: 50%;
  border: 1px solid darkred;
}

::ng-deep .flatpickr-monthDropdown-months, ::ng-deep .flatpickr-calendar  {
  background-color: #f2eadd !important;
}

::ng-deep .flatpickr-day,
::ng-deep .flatpickr-weekdaycontainer span {
  font-size: 15px;
  font-weight: 400;
  color: #232323;
}


::ng-deep .flatpickr-monthDropdown-month,
::ng-deep .flatpickr-monthDropdown-months,
::ng-deep .flatpickr-current-month,
::ng-deep .flatpickr-month,
::ng-deep .numInput {
  font-size: 18px !important;
  font-weight: 500 !important;
  color: #232323 !important;
}




::ng-deep .flatpickr-day.nextMonthDay,
.flatpickr-day.prevMonthDay {
  opacity: 0.6;
  color: #232323;
}

::ng-deep .flatpickr-day.selected {
  background-color: rgba(0, 123, 255, 0.8);
  color: white;
  border-radius: 50%;
}

::ng-deep .flatpickr-day.today {
  border: 1px solid #00ff00;
  background-color: rgba(0, 255, 0, 0.3);
  color: #232323;
}

.date-picker-container {
  color: #232323;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.booking-header {
  font-size: 22px;
  font-weight: 500;
}

.input-wrapper {
  margin-top: 20px;
  position: relative;
  display: block;
}

.input-wrapper input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #232323;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
  color: #232323;
  background-color: #dbd4c5;
}

.clear-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #999;
  cursor: pointer;
}

.clear-icon:hover {
  color: #333;
}

.summary-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #232323;
}

.summary-container span {
  font-size: 15px;
  font-weight: 400;
}


.label {
  font-weight: bold;
  color: #555;
}

.value {
  font-weight: bold;
  color: #000;
}



.action-button {
  margin-top: 20px;
  background-color: #dbd4c5;
  color: #232323;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #232323;
}


.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: #f2eadd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.details p {
  margin: 10px 0;
}

.confirmation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

