.account-component {
    display: flex;
    flex-direction: row; 
    gap: 20px;  
    padding: 30px 60px;
}

/* Левая колонка для пользовательской информации */
.info-container {
    width: 30%; 
    background-color: #dbd4c5;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.edit-button {
    margin-top: 20px;
    background-color: #dbd4c5;
    color: #232323;
    width: 35%;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #232323;
}
.rent-container {
    flex: 2; /* Две трети */
    display: flex;
    flex-direction: column;
}
.info-container span {
    font-size: 22px;
    font-weight: 500;
}

.user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px 0px;
    object-fit: cover;
}

.user-info {
    margin-top: 50px;
    display: flex;
    flex-direction: column;

}
.user-info span {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
}

.tabs-container {
    display: flex;
    margin-bottom: 20px;
}

.tab-button {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    color: #555;
    position: relative; 
    outline: none;
    transition: color 0.3s ease;
}

.tab-button:hover {
    color:#232323;  
}

.tab-button.active {
    color: #232323;  
}

.tab-button.active::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #232323; 
}





.tab-content {
    height: 540px;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    background-color: #f2eadd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: flex-start;
    overflow-y: auto; 
    background-color: #dbd4c5;
}

.car-item {
    flex: 0 1 calc(50% - 40px); 
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f2eadd;
}


.car-image {
    width: 300px;
    height: 225px;
    object-fit: cover; 
    margin-right: 15px; 
    border-radius: 4px; 
}

.car-info {
    display: flex;
    flex-direction: column;
    

}

.car-title {
    margin-left: 20px;
    font-size: 22px;
    font-weight: 500;
    
}
.car-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    gap: 10px;
}
.car-details span {
    font-size: 16px;
    color: #555;
    display: block; 
}

.cost-container{
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}