.home-container {
    padding: 0px;
    margin: 0px;
}
.header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #232323;
    padding: 20px;

}
.logo img {

    max-height: 100%;
    border-radius: 50%;
}
.logo {
    align-items: center;
    display: flex;
    margin-left: 85px;
}
.logo span {
    margin-left: 15px;
    font-size: 32px;
    font-weight: 500;
    color:  #f2eadd;
}

.dx-button {
    font-size: 18px;
    font-weight: 400;
}
.buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 40px;
    
}

.content-wrapper {
    display: flex;
    height: calc(100vh - 140px);
  }
  .content { 
    flex-grow: 1; 
    height: 100%; 
    overflow: auto; 
 
  }
  
  