<div class="cars-component">
    <div class="filters-container">
        <div class="row-1">
            <div class="date-box">
                <label>Дата с</label>
                <date-component></date-component>
            </div>
            <div class="date-box">
                <label>Дата по</label>
                <date-component></date-component>
            </div>
            <div class="text-box">
                <label>Цена от</label>
                <dx-text-box placeholder="Цена от" [showClearButton]="true">
                </dx-text-box>
            </div>
            <div class="text-box">
                <label>Цена до</label>
                <dx-text-box placeholder="Цена до" [showClearButton]="true">
                </dx-text-box>
            </div>
            <div class="text-box">
                <label>Сумма залога от</label>
                <dx-text-box placeholder="Сумма залога от" [showClearButton]="true">
                </dx-text-box>
            </div>
            <div class="text-box">
                <label>Сумма залога до</label>
                <dx-text-box placeholder="Сумма залога до" [showClearButton]="true">
                </dx-text-box>
            </div>

        </div>
        <div class="row-2">
            <div class="filters">
                <label>Категории автомобилей</label>
                <dx-select-box displayExpr="name" valueExpr="idMemoType" placeholder="Все">
                </dx-select-box>
            </div>
            <div class="filters">
                <label>Марки автомобилей</label>
                <dx-select-box displayExpr="name" valueExpr="idMemoType" placeholder="Все">
                </dx-select-box>
            </div>
            <div class="filters">
                <label>Трансмиссия</label>
                <dx-select-box displayExpr="name" valueExpr="idMemoType" placeholder="Все">
                </dx-select-box>
            </div>
            <div class="filters">
                <label>Топливо</label>
                <dx-select-box displayExpr="name" valueExpr="idMemoType" placeholder="Все">
                </dx-select-box>
            </div>
        </div>
    </div>
    <div class="list-container">
        <div *ngFor="let car of cars" class="car-item" (click)="redirectToCar(car.carId)">
            <img [src]="car.carImages[0]" alt="{{ car.carName }}" class="car-image" />
            <div class="car-info">
                <span class="car-title">{{ car.carName }}</span>
                <div class="car-details">
                    <span>Топливо: {{ car.fuelTypeName }}</span>
                    <span>Класс: {{ car.carClassName }}</span>
                    <span>Трансмиссия: {{ car.carTransmissioName }}</span>
                    <div class="cost-container">
                        <span>Цена : {{car.cost}}</span>
                        <span>Сумма залога: {{car.deposit}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>