<div class="popup">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm"  style="display: flex; width: 100%; flex-direction: column; gap: 15px;">
  
      <div class="text-box">
        <dx-text-box
          name="username"
          [(ngModel)]="username"
          [showClearButton]="true"
          placeholder="Введите логин"
          required>
        </dx-text-box>
      </div>
  
      <div class="text-box">
        <dx-text-box
          name="password"
          [(ngModel)]="password"
          mode="password"
          [showClearButton]="true"
          placeholder="Введите пароль"
          required>
        </dx-text-box>
      </div>
  
      <div style="text-align: right;">
        <dx-button class="action-button"
          text="Войти"
          [disabled]="!loginForm.form.valid"
          [useSubmitBehavior]="true">
        </dx-button>
      </div>
  
    </form>
  </div>
  