<div class="account-component">
    <!-- Блок для пользовательских данных -->
    <div class="info-container">
        <span>Мои данные</span>
        <img [src]="user.avatar" alt="Аватар пользователя" class="user-avatar" />
        <div class="user-info">
            <span><b>Email:</b> {{ user.email }}</span>
            <span><b>Телефон:</b> {{ user.phone }}</span>
            <span><b>Водительское удостоверение:</b> {{ user.license }}</span>
            <button class="action-button edit-button" (click)="editUser()">Редактировать</button>

        </div>
    </div>


    <div class="rent-container">
        <div class="tabs-container">
            <button class="tab-button" [class.active]="activeTab === 'activeRents'"
                (click)="setActiveTab('activeRents')">
                Текущие аренды
            </button>
            <button class="tab-button" [class.active]="activeTab === 'rentHistory'"
                (click)="setActiveTab('rentHistory')">
                История аренды
            </button>
        </div>
        <div style="width: 100%;">
            <!-- Вкладка текущих аренд -->
            <div class="tab-content" *ngIf="activeTab === 'activeRents'">
                <div *ngIf="rentActive.length === 0" class="no-items">
                    <p>Нет активных аренд.</p>
                </div>

                <div class="car-item" *ngFor="let rent of rentActive" (click)="openPopup(rent)">
                    <img [src]="rent.car.carImages[0].imageData" alt="{{ rent.car.carName }}" class="car-image" />
                    <div class="car-info">
                        <div class="car-title">{{ rent.car.carName }}</div>
                        <div class="car-details">
                            <span> {{ rent.startDate | date:'dd.MM.yyyy' }} - {{ rent.endDate | date:'dd.MM.yyyy'
                                }}</span>
                            <!-- <div class="cost-container">
                                <span>Итоговая стоимость : {{rent.totalCost}}</span>
                                <span>Сумма залога: {{rent.deposit}}</span>
                            </div> -->
                            <span>Статус: {{rent.statusName}}</span>
                            <!-- <button *ngIf="rent.contractStatusId == 1" class="action-button" style="margin-top: 0px;"
                                (click)="CancelBooking()"> Отменить
                                бронирование</button> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Вкладка истории аренд -->
            <div class="tab-content" *ngIf="activeTab === 'rentHistory'">
                <div *ngIf="rentHistory.length === 0" class="no-items">
                    <p>Нет завершённых аренд.</p>
                </div>

                <div class="car-item" *ngFor="let rent of rentHistory" (click)="openPopup(rent)">
                    <img [src]="rent.car.carImages[0].imageData" alt="{{ rent.car.carName }}" class="car-image" />
                    <div class="car-info">
                        <div class="car-title">{{ rent.car.carName }}</div>
                        <div class="car-details">
                            <span> {{ rent.startDate | date:'dd.MM.yyyy' }} - {{ rent.endDate | date:'dd.MM.yyyy'
                                }}</span>
                            <div class="cost-container">
                                <span>Итоговая стоимость : {{rent.totalCost}}</span>
                                <span>Сумма залога: {{rent.deposit}}</span>
                            </div>
                            <span>Статус: {{rent.statusName}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="popup-overlay" (click)="closePopup()" *ngIf="selectedRent">
            <div class="popup" *ngIf="selectedRent" (click)="stopPropagation($event)">
                <div class="car-container">
                    <span class="close" (click)="closePopup()">&times;</span>
                    <div class="car-details-2">
                        <div class="car-images">
                            <div class="main-image">
                                <img [src]="selectedRent.car.carImages[0].imageData" [alt]="selectedRent.car.carName" />
                            </div>
                            <div class="thumbnail-images">
                                <img *ngFor="let img of selectedRent.car.carImages.slice(1, 3)" [src]="img.imageData"
                                    [alt]="selectedRent.car.carName" />
                            </div>
                            <!-- <div *ngIf="selectedRent.car.carImages.length > 3" class="additional-images">
                                <button class="action-button" (click)="viewMoreImages()">
                                    Посмотреть больше
                                </button>
                            </div> -->
                        </div>

                        <!-- Правый блок: информация об автомобиле -->
                        <div class="car-info-2">
                            <span>{{ selectedRent.car.carName }}</span>
                            <table>
                                <tr>
                                    <td>Дата аренды</td>
                                    <td>{{ selectedRent.startDate | date:'dd.MM.yyyy' }} - {{ selectedRent.endDate | date:'dd.MM.yyyy' }}</td>
                                </tr>
                                <tr>
                                    <td>Итоговая стоимость</td>
                                    <td>{{ selectedRent.totalCost }} ₽</td>
                                </tr>
                                <tr>
                                    <td>Сумма залога</td>
                                    <td>{{ selectedRent.deposit }} ₽</td>
                                </tr>
                                <tr>
                                    <td>Статус</td>
                                    <td>{{ selectedRent.statusName }}</td>
                                </tr>
                                <tr>
                                    <td>Год выпуска</td>
                                    <td>{{ selectedRent.car.modelYear }}</td>
                                </tr>
                                <tr>
                                    <td>Тип топлива</td>
                                    <td>{{ selectedRent.car.fuelTypeName }}</td>
                                </tr>
                                <tr>
                                    <td>Класс</td>
                                    <td>{{ selectedRent.car.className }}</td>
                                </tr>
                                <tr>
                                    <td>Трансмиссия</td>
                                    <td>{{ selectedRent.car.transmissionTypeName }}</td>
                                </tr>
                                <tr>
                                    <td>Цена за день</td>
                                    <td>{{ selectedRent.car.costPerDay }} ₽</td>
                                </tr>
                                <tr>
                                    <td>Залог</td>
                                    <td>{{ selectedRent.car.depositAmount }} ₽</td>
                                </tr>
                                <tr>
                                    <td>Количество мест</td>
                                    <td>{{ selectedRent.car.seats }}</td>
                                </tr>
                                <tr>
                                    <td>Кондиционер</td>
                                    <td>{{ selectedRent.car.airConditioning ? 'Есть' : 'Нет' }}</td>
                                </tr>
                                <tr>
                                    <td>GPS</td>
                                    <td>{{ selectedRent.car.gps ? 'Есть' : 'Нет' }}</td>
                                </tr>
                            </table>
                            
                        </div>
                    </div>
                    <div class="contract">
                        <button *ngIf="!selectedRent.contractAddress"
                        class="action-button" (click)="payContract()">Развернуть контракт</button>
                        <span *ngIf="selectedRent.contractAddress" >Адрес контракта:
                          <a 
                            href="#" 
                            (click)="confirmAndOpen($event, 'https://sepolia.etherscan.io/address/'+ selectedRent.contractAddress)"
                            title="Открыть в Etherscan"
                            class="etherscan-link"
                          >
                            {{selectedRent.contractAddress}}
                          </a>
                        </span>
                      </div>
                      

                    <div class="actions" *ngIf="selectedRent.contractAddress">


                        <button *ngIf="selectedRent.contractStatusId === rentContractStatus.PendingConfirmation"
                            class="action-button" (click)="depositFunds()">Оплатить</button>

                        <button
                            *ngIf="selectedRent.contractStatusId === rentContractStatus.PendingConfirmation || selectedRent.contractStatusId === rentContractStatus.PendingStart"
                            class="action-button danger" (click)="cancelContract()">Отменить</button>

                        <button *ngIf="selectedRent.contractStatusId === rentContractStatus.Active"
                            class="action-button warning" (click)="endContractEarly()">Завершить досрочно</button>
                    </div>
                </div>
            </div>
            </div>



        </div>

    </div>