.account-component {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 30px 60px;
}


.info-container {
    width: 25%;
    background-color: #f2eadd;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.action-button {
    margin-top: 20px;
    background-color: inherit;
    color: #232323;
    width: fit-content;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #232323;
}

.rent-container {
    flex: 2;
    /* Две трети */
    display: flex;
    flex-direction: column;
}

.info-container span {
    font-size: 22px;
    font-weight: 500;
}

.user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px 0px;
    object-fit: cover;
}

.user-info {
    margin-top: 50px;
    display: flex;
    flex-direction: column;

}

.user-info span {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
}

.tabs-container {
    display: flex;
    margin-bottom: 20px;
}

.tab-button {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    color: #555;
    position: relative;
    outline: none;
    transition: color 0.3s ease;
}

.tab-button:hover {
    color: #232323;
}

.tab-button.active {
    color: #232323;
}

.tab-button.active::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #232323;
}





.tab-content {
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    background-color: #dbd4c5;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.tab-content.no-items {
    align-items: center;
    justify-content: center;

}


.car-item {
    flex: 0 1 calc(50% - 40px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f2eadd;
}


.car-image {
    max-width: 60%;
    height: 225px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 4px;
}

.car-info {
    display: flex;
    flex-direction: column;


}

.car-title {
    margin-left: 20px;
    font-size: 22px;
    font-weight: 500;

}

.car-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    gap: 10px;
}

.car-details span {
    font-size: 15px;
    font-weight: 400;
    color: #232323;
    display: block;
}

.cost-container {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.685); /* затемнение фона */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
.popup {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f2eadd;
    border-radius: 5px;
    border: 1px solid  #232323;
}

.car-container {
    max-width: fit-content;
    width: auto; /* Разрешает сужение размера по контенту */
}


.close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
    font-size: 2rem;
}


.car-details-2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.car-images {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.car-images .main-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.car-images .thumbnail-images {
    display: flex;
    gap: 10px;
}

.car-images .thumbnail-images img {
    width: calc(50% - 5px);
    /* Фотографии вдвое меньше главной */
    height: auto;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ddd;
}

.car-info-2 {
    display: inline-block;
    flex-shrink: 0;

}

.car-info-2 span {

    color: #232323;
    font-size: 22px;
    font-weight: 500;
}

.car-info-2 table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.car-info-2 table tr:nth-child(odd) {
    background-color: #f2eadd;
}

.car-info-2 table tr:nth-child(even) {
    background-color: #dbd4c5;
}

.car-info-2 table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #232323;
    font-size: 15px;
    font-weight: 400;
}


.car-info-2 table td strong {
    color: #232323;
}

.actions {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.contract {
    margin-top: 20px;
}
.etherscan-link {
    color: #3f51b5;
    text-decoration: none;
    font-weight: 500;
  }
  
  .etherscan-link:hover {
    text-decoration: underline;
    color: #1a237e;
  }
  