::ng-deep .flatpickr-day.disabled {
  background-color: rgba(255, 0, 0, 0.6); /* Яркий красный фон */
  color: white; /* Белый текст */
  border-radius: 50%; /* Круглая форма */
  border: 1px solid darkred; /* Дополнительный контур */
  cursor: not-allowed; /* Недоступность */
  opacity: 1; /* Убираем прозрачность */
}

::ng-deep .flatpickr-day.prevMonthDay,
::ng-deep .flatpickr-day.nextMonthDay {
  opacity: 0.3; /* Более слабая прозрачность */
  color: #999; /* Серый текст */
}

::ng-deep .flatpickr-day.selected {
  background-color: rgba(0, 123, 255, 0.8); /* Синий фон для выбранного диапазона */
  color: white; /* Белый текст */
  border-radius: 50%;
}

::ng-deep .flatpickr-day.today {
  border: 1px solid #00ff00; /* Зеленый контур для текущего дня */
  background-color: rgba(0, 255, 0, 0.3); /* Зеленый фон */
  color: black;
}
