<div class="rent-list-component">
    <div class="filters-container">
        <div class="date-box">
            <label>Дата с</label>
            <date-component [date]="startDate" (dateChange)="onStartDateChange($event)"></date-component>
        </div>
        <div class="date-box">
            <label>Дата по</label>
            <date-component [date]="endDate" (dateChange)="onEndDateChange($event)"></date-component>
        </div>
        <div class="filters" style="max-width: 200px;">
            <label>Статус аренды </label>
            <mat-select [(value)]="filter.rentalStatuses" multiple
                (selectionChange)="onRentStatusSelectionChange($event)">
                <mat-option [value]="0">Все</mat-option>
                <mat-option *ngFor="let status of rentalStatuses" [value]="status.rentalStatusId">
                    {{ status.name }}
                </mat-option>
            </mat-select>
        </div>
        <!-- <div class="filters">
            <label>Статус залога</label>
            <mat-select [(value)]="filter.rentStatuses" multiple (selectionChange)="onCarClassSelectionChange($event)">
                <mat-option [value]="0">Все</mat-option>
                <mat-option *ngFor="let classType of carClasses" [value]="classType.carClassId">
                    {{ classType.name }}
                </mat-option>
            </mat-select>
        </div> -->

        <div class="text-box">
            <label>Модель автомобиля</label>
            <dx-text-box placeholder="Поиск автомобиля" [showClearButton]="true"
                [value]="filter.carName !== undefined ? filter.carName : ''" (onValueChanged)="onSearchChange($event)">
            </dx-text-box>
        </div>
    </div>
    <div class="rent-list-container">
        <cdk-virtual-scroll-viewport itemSize="30" class="viewport">
            <table>
                <thead>
                    <tr>
                        <th>Номер аренды</th>
                        <th>Модель машины</th>
                        <th>Даты аренды</th>
                        <th>Статус аренды</th>
                        <th>Статус залога</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *cdkVirtualFor="let rental of rentals" (click)="openPopup(rental)">
                        <td>{{ rental.rentalId }}</td>
                        <td>{{ rental.carName }}</td>
                        <td>{{ rental.startDate | date:'dd.MM.yyyy' }} - {{ rental.endDate | date:'dd.MM.yyyy' }}
                        </td>
                        <td>{{ rental.rentalStatusName }}</td>
                        <td>{{ rental.depositDispute.disputeStatusName  }}</td>
                    </tr>
                </tbody>
            </table>
        </cdk-virtual-scroll-viewport>

        <div class="popup-overlay"  *ngIf=" selectedRental">
            <div *ngIf=" selectedRental" class="popup" (click)="stopPropagation($event)">
                <div class="popup-content">
                    <span class="close" (click)="closePopup()">&times;</span>
                    <div class="car-info-2">
                        <span>{{  selectedRental.carName }}</span>
                        <table>
                            <tr>
                                <td>Дата аренды</td>
                                <td>{{  selectedRental.startDate | date:'dd.MM.yyyy' }} - {{  selectedRental.endDate |
                                    date:'dd.MM.yyyy' }}</td>
                            </tr>
                            <tr>
                                <td>Статус аренды</td>
                                <td>{{  selectedRental.rentalStatusName }}</td>
                            </tr>
                            <tr>
                                <td>Количество залога</td>
                                <td>{{  selectedRental.deposit }} ETH</td>
                            </tr>
                            <tr>
                                <td>Статус залога</td>
                                <td>{{  selectedRental.depositDispute.disputeStatusName }}</td>
                            </tr>
                            <tr>
                                <td>Адрес контракта</td>
                                <td>
                                    <a *ngIf=" selectedRental.contractAddress"
                                        [href]="'https://etherscan.io/address/' +  selectedRental.contractAddress"
                                        target="_blank">
                                        {{  selectedRental.contractAddress }}
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="actions">
                        <div class="button-container" *ngIf=" selectedRental.rentalStatusId == 4">
                            <button class="action-button" (click)="approveInspection()">Подтвердить инспекцию и закрыть контракт</button>
                            <button class="action-button" (click)="initiateDepositDispute()">Начать разбирательство по залогу</button>
                        </div>
                        <div class="button-container" *ngIf=" selectedRental.userMessage">
                            <span>Сообщение пользователя:</span>
                            <textarea [(ngModel)]=" selectedRental.userMessage" readonly></textarea>
                        </div>

                        <div class="button-container" *ngIf=" selectedRental.userFiles?.length">
                            <label>Файлы пользователя:</label>
                            <ul>
                                <li *ngFor="let file of  selectedRental.userFiles">
                                    <a [href]="file.url" target="_blank">{{ file.name }}</a>
                                </li>
                            </ul>
                        </div>
                        <div  class="button-container" *ngIf=" selectedRental.rentalStatusId == 5 && !isHoldingDeposit">
                            <button *ngIf="!isHoldingDeposit" class="action-button" (click)="approveInspection()"> Вернуть залог пользователю </button>
                            <button *ngIf="!isHoldingDeposit" class="action-button" (click)="holdDeposit()"> Задержать залог </button>
                        </div>
                        
                        <div class="button-container" *ngIf="isHoldingDeposit">
                            <span>Количество задержимаевого залога:</span>
                            <div class="input-wrapper">
                                <input type="number" [(ngModel)]="depositToHold">
                                <span class="currency">ETH</span>
                            </div>
                            <span>Причина задержки:</span>
                            <textarea [(ngModel)]="holdReasonMessage"> </textarea>
                            <button class="action-button" (click)="sendMessage()">Отправить сообщение
                                пользователю</button>
                        </div>



                    </div>
                </div>
            </div>

        </div>

    </div>
</div>