.rent-list-component{
    display: flex;
    flex-direction: column;
    padding: 30px 60px 30px 60px;
    height: 100%;
    box-sizing: border-box;
}

.filters-container {
    display: flex;
    flex-direction: row;
    background-color: #dbd4c5;
    padding: 20px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    gap: 9px;
}
.filters {
    font-size: 15px;
    font-weight: 400;

    background-color: #dbd4c5;
}

label {
    padding: 0 5px;
    font-size: 13px;
    font-weight: 400;
    background-color: #dbd4c5;
    color: #232323;
}




.filters select, .filters mat-select {
    display: block;
    border: 1px solid #232323 !important; 
    border-radius: 4px !important;
    background-color: #dbd4c5 !important;
    color: #232323 !important;
    font-size: 15px !important;
    min-width: 200px;
    height: 40px !important;
    box-sizing: border-box !important;
}
::ng-deep .mat-mdc-select-trigger {
    display: flex;
    align-items: center;
    height: 38px !important; 
    padding: 0 10px; 

  }
  
  ::ng-deep .mat-mdc-select-value {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0; 
  }
  
  ::ng-deep .mat-mdc-select-arrow-wrapper {
    display: flex;
    align-items: center;
    height: 100%; 
  }
  ::ng-deep .mat-mdc-select-panel {
    background-color: #f2eadd !important; 
  }
  
  .mat-mdc-option {
    font-size: 15px !important; 
    color: #232323 !important; 
  }
  
  .mat-mdc-option:hover {
    background-color: #dbd4c5 !important;
  }
  
  .mat-mdc-option.mat-mdc-option-selected {
    background-color: #b8aa96 !important; 
  }
  ::ng-deep .mat-mdc-option span,
  ::ng-deep .mat-mdc-option.mdc-list-item--selected span {
    color: #232323 !important;
  }
  
  ::ng-deep .mat-pseudo-checkbox {
    border-color: #232323 !important; 
    background-color: transparent !important; 
  }
  
  ::ng-deep .mat-pseudo-checkbox.mat-pseudo-checkbox-checked{
    background-color: #232323 !important; 
    
  }
  ::ng-deep .mat-pseudo-checkbox.mat-pseudo-checkbox-checked ::after {
    border-color: #ddd !important;
  }

  
  ::ng-deep .mat-pseudo-checkbox.mat-pseudo-checkbox-checked::after {
    border-color: white !important; 
  }
  
  
  
.date-box {
    position: relative;
}

.text-box {
    position: relative;
}

::ng-deep .dx-texteditor-input {
    font-size: 15px !important;
    font-weight: 400 !important;
}

::ng-deep dx-text-box {
    width: 150px;
    height: 40px;
    background-color: #dbd4c5;
    color: #232323;
    box-sizing: border-box;
}

::ng-deep dx-text-box .dx-texteditor-container {
    background-color: #dbd4c5;
    color: #232323;
    border: 1px solid #232323 !important; 
    border-radius: 4px !important;
}

::ng-deep .filters * {
    background-color: #dbd4c5 !important;
    border-radius: 4px;
    color: #232323;
}

.rent-list-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start; 
    justify-content: space-between;
    background-color: #dbd4c5;
    overflow-y: auto;
    height: 100%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}
table {
    width: 100%; 
    border-collapse: collapse; 
    padding: 20px;
    border-spacing: 0 20px
}
thead{
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);

    
}

th, td {
    padding: 20px; 
    text-align: left; 
    font-weight: normal;
}

tbody tr:hover {
    background-color: #f2eadd;
    cursor: pointer;
}

tbody tr:active{
    transform: scale(0.98);
  }
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.685); /* затемнение фона */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
.popup {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f2eadd;
    border-radius: 5px;
    border: 1px solid  #232323;
}
