<div class="car-component">
  <!-- Левый блок: изображения автомобиля -->
  <div class="car-container">
    <div class="car-details">
      <div class="car-images">
        <div class="main-image">
          <!-- <img [src]="car.carImages[0]" [alt]="car.carName" /> -->
        </div>
        <div class="thumbnail-images">
          <!-- <img *ngFor="let img of car.carImages.slice(1, 3)" [src]="img" [alt]="car.carName" /> -->
        </div>
        <!-- <div *ngIf="car.carImages.length > 3" class="additional-images"> -->
          <button
            class="action-button"
            (onClick)="viewMoreImages()">
            Посмотреть больше
          </button>

        <!-- </div> -->
        
      </div>

      <!-- Правый блок: информация об автомобиле -->
      <div class="car-info">
        <span>{{ car.carName }}</span>
        <table>
          <tr>
            <td>Год выпуска</td>
            <td>{{ car.modelYear }}</td>
          </tr>
          <tr>
            <td>Тип топлива</td>
            <td>{{ car.fuelTypeName }}</td>
          </tr>
          <tr>
            <td>Класс</td>
            <td>{{ car.className }}</td>
          </tr>
          <tr>
            <td>Трансмиссия</td>
            <td>{{ car.transmissioName }}</td>
          </tr>
          <tr>
            <td>Цена за день</td>
            <td>{{ car.costPerDay }} ₽</td>
          </tr>
          <tr>
            <td>Залог</td>
            <td>{{ car.depositAmount }} ₽</td>
          </tr>
          <tr>
            <td>Количество мест</td>
            <td>{{ car.seats }}</td>
          </tr>
          <tr>
            <td>Кондиционер</td>
            <td>{{ car.airConditioning ? 'Есть' : 'Нет' }}</td>
          </tr>
          <tr>
            <td>GPS</td>
            <td>{{ car.gps ? 'Есть' : 'Нет' }}</td>
          </tr>
        </table>
      </div>
      
    </div>

    <div class="company-info">
      <div class="company-logo">
        <img [src]="company.image" [alt]="company.name" />
      </div>
      <div class="company-details">
        <h3>{{ company.name }}</h3>
        <span><strong>Email:</strong> {{ company.email }}</span><br />
        <span><strong>Телефон:</strong> {{ company.phoneNumber }}</span>
      </div>
    </div>

  </div>
  <app-car-booking [car]="car"></app-car-booking>
</div>


<!-- Информация о компании -->