.cars-component {
    align-items: center;
    padding: 30px 60px 0px 60px;
}

.filters-container {
    display: flex;
    flex-direction: column;
    background-color: #dbd4c5;
    padding: 20px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.row-1,
.row-2 {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 9px;
    flex-grow: 1;
}

.row-2 {
    margin-top: 20px;
}

.filters {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 400;

    background-color: #dbd4c5;
    height: auto;
    margin-bottom: 15px;
}

label {
    padding: 0 5px;
    font-size: 13px;
    font-weight: 400;
    background-color: #dbd4c5;
    color: #232323;
}

mat-label {
    font-size: 13px !important; /* Установка точного размера */
    font-weight: 400 !important; /* Установка веса шрифта */
    color: #232323 !important; /* Цвет текста */
    margin-bottom: 5px !important; /* Отступ, если требуется */
    background-color: transparent; /* Убедитесь, что нет лишнего фона */
}



.filters select, .filters mat-select {
    display: block;
    border: 1px solid #232323 !important; 
    border-radius: 4px !important;
    background-color: #dbd4c5 !important;
    color: #232323 !important;
    font-size: 15px !important;
    min-width: 200px;
    height: 40px;
}
::ng-deep .mat-mdc-select-trigger {
    display: flex;
    align-items: center;
    height: 40px !important; 
    padding: 0 10px; 
    box-sizing: border-box;
  }
  
  ::ng-deep .mat-mdc-select-value {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0; 
  }
  
  ::ng-deep .mat-mdc-select-arrow-wrapper {
    display: flex;
    align-items: center;
    height: 100%; 
  }
  ::ng-deep .mat-mdc-select-panel {
    background-color: #f2eadd !important; /* Устанавливаем фон для панели */
  }
  
  .mat-mdc-option {
    font-size: 15px !important; /* Настраиваем размер текста */
    color: #232323 !important; /* Устанавливаем цвет текста */
  }
  
  .mat-mdc-option:hover {
    background-color: #dbd4c5 !important; /* Фон при наведении */
  }
  
  .mat-mdc-option.mat-mdc-option-selected {
    background-color: #b8aa96 !important; /* Фон для выбранного элемента */
  }
  ::ng-deep .mat-mdc-option span,
  ::ng-deep .mat-mdc-option.mdc-list-item--selected span {
    color: #232323 !important;
  }
  
  ::ng-deep .mat-pseudo-checkbox {
    border-color: #232323 !important; 
    background-color: transparent !important; 
  }
  
  ::ng-deep .mat-pseudo-checkbox.mat-pseudo-checkbox-checked{
    background-color: #232323 !important; 
    
  }
  ::ng-deep .mat-pseudo-checkbox.mat-pseudo-checkbox-checked ::after {
    border-color: #ddd !important;
  }

  
  ::ng-deep .mat-pseudo-checkbox.mat-pseudo-checkbox-checked::after {
    border-color: white !important; /* Меняет цвет границы на белый */
  }
  
  
  
.date-box {
    position: relative;
}

.text-box {
    position: relative;
}

::ng-deep .dx-texteditor-input {
    font-size: 15px !important;
    font-weight: 400 !important;
}

::ng-deep dx-text-box {
    width: 150px;
    height: 42px;
    background-color: #dbd4c5;
    border-radius: 4px;
    border: 1px solid #232323;
    color: #232323;
}

::ng-deep dx-text-box .dx-texteditor-container {
    background-color: #dbd4c5;
    border: 1px solid #232323;
    color: #232323;
}

::ng-deep .filters * {
    background-color: #dbd4c5 !important;
    border-radius: 4px;
    color: #232323;
}



.list-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    background-color: #dbd4c5;
    padding: 20px;
    border-radius: 4px;
    overflow-y: auto;
    height: 530px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.list-container::-webkit-scrollbar {
    width: 12px;
    background-color: #dbd4c5;
    border-radius: 8px;
}


.list-container::-webkit-scrollbar-thumb {
    background-color: #232323;
    border-radius: 8px;
    border: 2px solid #dbd4c5;
}

.car-item {
    flex: 0 1 calc(50% - 40px);
    /* Каждая карточка занимает половину ширины, минус отступ */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f2eadd;
    cursor: pointer;
}


.car-image {
    width: 300px;
    height: 225px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 4px;
}

.car-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.car-title {
    margin-left: 20px;
    font-size: 22px;
    font-weight: 500;

}

.car-details {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 15px;

}

.car-details span {
    font-size: 15px;
    font-weight: 400;
    color: #232323;
    display: block;
}

.cost-container {
    margin-top: 30px;
    gap: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.cost-container span {
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
    color: #232323;
}